*
{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}
.container{
    max-width: 100vw;
    height: 100vh;
    background-image: url(./image/a5e183a3-1965-40ec-a87a-d6de88fa8b01.jpeg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}
.logo{
    width: 70px;
    padding: 20px 0;
    cursor: pointer;
    border-radius: 50%;
}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    
}
h1{
    font-size: 60px;
    font-weight: 700;
}
.content h1 span{
    color: #0154A6;
}
.content button{
     background: transparent;
     border: 1px solid #0154A6;
     padding: 12px 25px;
     color: black;
     border-radius: 6px;
     display: flex;
     align-items: center;
     margin-top: 30px;
     cursor: pointer;
}
.content button img{
    width: 15px;
    margin-left: 10px;
}
.launching-time{
    display: flex;
    margin-top: 15px;
}
.launching-time div{
     flex-basis: 100px;
}
.launching-time div p{
    font-size: 60px;
    margin-bottom: -8px;
    margin-left: -7px;
}
.rocket {
    
    width: 200px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}
@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}

.abc{
    display: flex;
    align-items: center;
}
.abc span{
    padding-left: 6px;
}
